body {
    font-family: Arial, Helvetica, sans-serif;
}

.review_item {
    padding: 0.5em;
}

.review_item_caption a {
    color:#3399ff;
    text-decoration: none;
}

.review_item_location_non_hyperlink {
    font-weight: bold;
    font-style: italic;
    color: #808080;
}

.review_item_details {
    padding-left: 1em;
}

.review_quality_select {
    margin-top: 1em;
}

summary {
    cursor: pointer;
    outline: none;
}