{% load static %}

<style>
    #edit-review-item-form label, #edit-review-item-form input { display:block; }
    #edit-review-item-form label { margin-bottom: 0.2em; }
    input.text { margin-bottom:12px; width:100%; padding: .4em; flex: 0; box-sizing: border-box; }
    #edit-review-item-form { flex-grow:1; display: flex; flex-direction: column; }
    #dialog-form { display: flex; flex-direction: column; }
    fieldset { padding:0; border:0; flex-grow: 1; display: flex; flex-direction: column; }
    {% comment %} notes box takes up all remaining space {% endcomment %}
    #notes { margin-bottom:12px; width:100%; padding: .4em; flex-grow:1; box-sizing: border-box; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .preview-edit-button { margin-bottom: 12px; }

    #plus {
        cursor: pointer;
        width: 0.75in;
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
</style>

<script type="text/javascript">
    'use strict';

    function updateTips( t ) {
        const tips = $(".validateTips");
        tips.text(t).addClass("ui-state-highlight");
        setTimeout(function() {
            tips.removeClass("ui-state-highlight", 1500);
        }, 500);
    }

    function checkNotEmpty(input, name) {
        if (input.val().length == 0) {
            input.addClass( "ui-state-error" );
            updateTips(name + " cannot be empty");
            return false;
        } else {
            return true;
        }
    }

    function validateAndSendNewReviewItem(dialog) {
        //allFields.removeClass("ui-state-error");

        const valid = checkNotEmpty($("#caption"), "Caption");

        if (valid) {
            $.post('{% url 'web:add_new_review_item' %}', $('#edit-review-item-form').serialize())
                .done(function() { alertify.success('Added'); })
                .fail(function() { alertify.error('Error'); });
            dialog.dialog("close");
        }

        return valid;
    }

    function validateAndEditExistingReviewItem(dialog, item_id, onSuccess) {
        //allFields.removeClass("ui-state-error");

        const valid = checkNotEmpty($("#caption"), "Caption");

        if (valid) {
            const values = $('#edit-review-item-form').serialize() + ('&review_item_id=' + item_id);
            $.post('{% url 'web:edit_existing_review_item' %}', values)
                .done(function() { onSuccess(); })
                .fail(function() { alertify.error('Error'); });
            dialog.dialog("close");
        }

        return valid;
    }

    // Creates a jQuery UI dialog based on the #dialog-form. It contains a Cancel button and a customisable
    // "action" button (e.g. for adding a new item or editing an existing one)
    function setupEditDialog(dialogTitle, actionButtonLabel, actionButtonAction) {
        let dialog, form;
        const caption = $("#caption"),
              location = $("#location"),
              notes = $("#notes"),
              allFields = $( [] ).add(caption).add(location).add(notes);

        const options = {
          autoOpen: false,
          // jqueryUI dialog doesn't like setting height to 95%
          height: $(window).height() * 0.95,
          width: "95%",
          modal: true,
          buttons: {
            Cancel: function() {
              dialog.dialog("close");
            }
          },
          open: function() {
            $("#validateTips").html("");
          },
          close: function() {
            form[0].reset();
            switch_to_edit();
            allFields.removeClass("ui-state-error");
          }
        }

        options.buttons[actionButtonLabel] = actionButtonAction;
        options.position = { my: "top", at: "top+10", of: window };
        dialog = $("#dialog-form").dialog(options);
        dialog.dialog("option", "title", dialogTitle);
        form = dialog.find("form");

        return dialog;
    };

    function addNewReviewItem() {
        const dialog = setupEditDialog("Add review item", "Add",
                                     function() { return validateAndSendNewReviewItem(dialog); });
        dialog.dialog("open");
    }

    function editReviewItem(item_id) {
        // in order to edit an item, we need to get raw data from the backend (esp. markdown for notes)
        $.get("{% url 'web:get_raw_review_item_data' %}", { review_item_id: item_id, csrfmiddlewaretoken: "{{ csrf_token }}" },
            function(data) {
                $("#caption").val(data.caption);
                $("#location").val(data.location);
                $("#notes").val(data.notes);
                const dialog = setupEditDialog("Edit review item", "OK", function() {
                    return validateAndEditExistingReviewItem(dialog, item_id, loadReviewItemsList);
                });
                dialog.dialog("open");
            });
    }

    function switch_to_edit() {
        $('#edit-button').hide();
        $('#preview-button').show();

        $('#preview').hide();
        $('#notes').show();
        $('#preview').html('');
    }

    function switch_to_preview() {
        let markdown = $('#notes').val();
        $('#preview-button').attr('disabled', 'disabled');

        $.get('{% url 'web:render_markdown' %}', { 'markdown': markdown, 'csrfmiddlewaretoken': '{{ csrf_token }}' } )
            .done((data) => {
                $('#preview').html(data.rendered);
                MathJax.typesetPromise($('#preview')).then(() => {
                    $('#notes').hide();
                    $('#preview').show();
                    $('#preview-button').hide();
                    $('#edit-button').show();
                    $('#preview-button').removeAttr('disabled');
                });
            })
            .fail(() => {
                $('#preview-button').removeAttr('disabled');
                alertify.error('Error');
            });
    }

</script>

<!-- Icon by Robert Walsh via https://www.iconfinder.com/icons/619553/add_create_new_plus_icon -->
<img id="plus" src="{% static 'web/add_blue.png' %}" onclick="addNewReviewItem()">

<!-- display: none so that it doesn't flash on the screen before dialog() doesn't hide it -->
<div id="dialog-form" title="Add new review item" style='display: none;'>
    <p class="validateTips" id="validateTips"></p>

    <form class="edit-review-item-form" id="edit-review-item-form" autocomplete="off">
        <fieldset>
            {% csrf_token %}
            <label for="caption">Caption</label>
            <input type="text" name="caption" id="caption" value="" class="text ui-widget-content ui-corner-all">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" value="" class="text ui-widget-content ui-corner-all">
            <label for="notes">Notes</label>
            <div>
                <button class="preview-edit-button" id="edit-button" style='display: none;' type="button" onclick="switch_to_edit()">Edit</button>
                <button class="preview-edit-button" id="preview-button" type="button" onclick="switch_to_preview()">Preview</button>
            </div>
            <div id="preview" style='display: none;'></div>
            <textarea form="edit-review-item-form" name="notes" id="notes" value="" class="text ui-widget-content ui-corner-all tab-support"></textarea>
        </fieldset>
    </form>
</div>
