<div id="help-div" style='display: none;'>
    <h1>Markdown</h1>

    <h2>MathJax</h2>
    <h3>Inline</h3>
    <code>$\frac{1}{2}$</code> - if you don't want math typesetting, need to escape $: <code>That'll be \$50</code>
    <h3>Block</h3>
<pre>
$$
\sum_{i=1}^{k}{x^i}
$$</pre>

    <h2>Highlighted code blocks</h2>
<pre>
```C++
int main() {
    return 0;
}
```</pre>

    or

<pre>
~~~C++
int main() {
    return 0;
}
~~~</pre>

    <h2>Folding blocks</h2>

    Using <code>pymdownx.details</code> extension. Syntax:

    <pre>
??? "Multi word summary needs to be in quotes"
    Content must be indented</pre>

    Folding code blocks also work:

    <pre>
??? Example
    ~~~C++
    int main() {
        return 0;
    }
    ~~~</pre>
</div>
