{% load markdown_extras %}

<div class="review_item" id="{{ data.id }}">
    <div class="review_item_caption">
        {% if data.is_hyperlink %}
            <a target="_blank" rel="noopener noreferrer" href='{{ data.location }}'>{{ data.caption }}</a>
        {% else %}
            <strong>{{ data.caption }}</strong>
        {% endif %}
    </div>
    {% if data.location and not data.is_hyperlink or data.notes %}
        <div class="review_item_details">
            {% if not data.is_hyperlink %}
                {{ data.location }}<br>
            {% endif %}
            {% if data.notes %}
                {% autoescape off %}
                    {{ data.notes | markdown }}
                {% endautoescape %}<br>
            {% endif %}
        </div>
    {% endif %}

    <select name="quality" id="quality_{{ data.id }}" onchange="reviewed({{ data.id }}); $('#{{ data.id }}').toggle('medium')">
      <option disabled selected value="-1">Review...</option>
      <option value="0">complete blackout</option>
      <option value="1">incorrect response; the correct one remembered</option>
      <option value="2">incorrect response; correct one easy to recall</option>
      <option value="3">correct response, recalled with serious difficulty</option>
      <option value="4">correct response after a hesitation</option>
      <option value="5">perfect response</option>
    </select>
    <hr>
</div>
